# dependencies
node_modules/

# environment variables
.env
.env*

# build outputs
dist/
build/
out/
.next/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store

# TypeScript cache
*.tsbuildinfo